@{
    ViewBag.Title = "Алгоритм Флойда-Уоршелла";
}

<h2>Алгоритм Флойда-Уоршелла</h2>
<p>
Алгоритм Флойда-Уоршелла дозволяє знайти найкоротші шляхи між усіма вершинами в графі.
</p>
<hr />
<h4><strong>Вхiднi данi</strong></h4>
<p>
    Зважений орієнтований граф 
</p>
<h4><strong>Обмеження</strong></h4>
<ul>
    <li>
        Для <strong>першого</strong> алгоритму Флойда-Уоршелла елементи матриці ваг повинні бути <strong>додатними цілими числами</strong>.
    </li>
</ul>

<h4><strong>Результат роботи алгоритму</strong></h4>
<p>
    Результатом роботи алгоритму є матриця довжин шляхів. Наприклад, довжина шляху з вершини 1 у вершину 2 знаходиться в першому рядку і другому стовпці результуючої матриці
</p>
<img src="~/Content/Images/FloydWarshallResultMatrixExample.png" />
