@{
    ViewBag.Title = "Алгоритм Флойда-Уоршелла";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Алгоритм Флойда-Уоршелла</h2>
<p>
    Алгоритм Флойда-Уоршелла дозволяє знайти найкоротші шляхи між усіма вершинами в графі.
<p>
    Для <strong>першого</strong> алгоритму Флойда-Уоршелла елементи матриці ваг повинні бути <strong>позитивними цілими числами</strong>.
    Для <strong>другого</strong> алгоритму таких обмежень немає.
</p>

<p>
    Результатом роботи алгоритму є матриця довжин шляхів. Наприклад довжина шляху з вершини 1 у вершину 2 знаходиться в першому рядку і другому стовпці результуючої матриці
</p>
<img src="~/Content/Images/FloydWarshallResultMatrixExample.png"/>
