@{
    ViewBag.Title = "Пошук Гамільтонового циклу";
}

<h2>Пошук Гамільтонового циклу</h2>
Алгоритм пошуку Гамільтоного циклу в графі. Якщо граф не є зв'язним або Гамільтонового циклу не існує, виводиться відповідне повідомлення.
<hr />
<h4><strong>Вхiднi данi</strong></h4>
Матриця сумiжностi графа.
<hr />
<h4><strong>Обмеження</strong></h4>
1) Усi елеметнти матрицi сумiжностi повиннi бути заданi.
<br />
2) Граф повинен бути зв'язним.
<br />
3) Граф повинен містити Гамільтонів цикл.
<br />
<hr>
<h4><strong>Результат</strong></h4>
Результатом роботи алгоритму є вiдображення Гамільтоного циклу та матриці сумiжностi.
<hr />
