
@{
    ViewBag.Title = "Алгоритм Крускала";
}

<h2>Алгоритм Крускала</h2>
Алгоритм побудови мінімального кістякового дерева зваженого неорієнтовного графа.
<hr />
<h4><strong>Вхiднi данi</strong></h4>
Матриця сумiжностi зв'язного неорієнтованого графа.
<hr />
<h4><strong>Обмеження</strong></h4>
1) Граф повинен бути неорієнтованим.
<br />
2) Граф повинен бути зв'язним.
<br />
3) Усi елементи матрицi сумiжностi повиннi бути заданi.
<br />
<hr>
<h4><strong>Результат</strong></h4>
Результатом роботи алгоритму є вiдображення ваги побудованого мінімального кістякового дерева та його матриця сумiжностi.
Візуалізація дерева не передбачена.
<hr />
<img src="~/Content/Images/KruskalResult1.jpg">
<img src="~/Content/Images/KruskalResult2.jpg">