
@{
    ViewBag.Title = "MaxMatches";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Алгоритм пошуку максимальної кількості паросполучень</h2>
<hr />
<h4><strong>Вхiднi данi</strong></h4>
Матриця сумiжностi неорієнтованого незваженого графа.
<hr />
<h4><strong>Обмеження</strong></h4>
1) Граф повинен бути неорієнтовним.
<br />
2) Граф повинен бути незваженим.
<br />
3) Усi елеметнти матрицi сумiжностi повиннi бути заданi.
<br />
<hr>
<h4><strong>Результат</strong></h4>
Результатом роботи алгоритму є матриця суміжності та максимальна кількість паросполучень.
<hr />
