
@{
    ViewBag.Title = "Алгоритм пошука у ширину";
}

<h2>Алгоритм пошука у ширину</h2>
<hr />
<h4><strong>Вхiднi данi</strong></h4>
<p>
    Алгоритм приймає у якості вхідних даних граф(невзважений, зв'язний або незв'язний, орієнтований або неорієнтований) та початкову вершину, з якої буде починатися пошук дерева.
</p>
<p>
Якщо вказана вершина ізольовану користувач отримає відповідне повідомлення з помилкою, про те що вершина ізольована і пошук дерева неможливий.
</p>

<h4><strong>Результат роботи алгоритму</strong></h4>
<p>
    Результатом роботи алгоритму є послідовність вершин у правильному порядку при пошуку дерева.
	Якщо вхідний граф є незв'язним, то алгоритм знаходить дерево для кожного компонента графа окремо.
</p>






