
@{
    ViewBag.Title = "AddAdjMatrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<h3>Що таке матриця суміжності?</h3>
<p>
    Матриця суміжності - це вид представлення графа у вигляді матриці, коли перетин стовпців і рядків задає дуги. Використовуючи матрицю суміжності, можна задати вагу дуг і орієнтацію. Кожен рядок і стовпець матриці відповідають вершинам, номер рядка відповідає вершині, з якої виходить дуга, а номер стовпця - в яку входить дуга.
</p>
<p>
    Даний сервіс надає вам можливість створити граф по матриці інцидентності.
</p>
<img src="~/Content/Images/AdjMatrix.jpg">