
@{
    ViewBag.Title = "Додавання дуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2>Додавання дуги</h2>
Для додавання дуги необхідно вибрати пункт "З'єднати вершини". Потім виділити початкову вершину. Перед Вами з'явиться діалог:
<img src="~/Content/Images/ConnectNodes.jpg">
<br>
Для зважених графів з'явиться діалогове вікно. Вкажіть у ньому другу вершину для з'єднання.
<br>
<img src="~/Content/Images/WeightedGraph.jpg" height="200">
<br>
Для незважених графів з'явиться діалогове вікно. Вкажіть у ньому другу вершину для з'єднання та вагу ребра. Якщо вага ребра не буде вказана то вершини не можуть буті з'єднані.
<br>
<img src="~/Content/Images/DisorientedGraph.jpg" height="160">
<p>

</p>
<h2>Видалення дуги</h2>
Для видалення дуги вам необхідно натиснути кнопку "Видалити" і клікнути по дузі.
<p>

</p>