
@{
    ViewBag.Title = "Додавання дуги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2>Додавання дуги</h2>
Для додавання дуги необхідно вибрати пункт "З'єднати вершини". Потім виділити початкову вершину. Перед Вами з'явиться діалог:
<img src="~/Content/Images/ConnectNodes.jpg">
<br>
<img src="~/Content/Images/DisorientedGraph.jpg">
<br>
<img src="~/Content/Images/WeightedGraph.jpg">
<br>
<h2>Видалення дуги</h2>
Для видалення дуги вам необхідно натиснути кнопку "Видалити" і клікнути по дузі.