
@{
    ViewBag.Title = "AddIncMatrix";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h3>Що таке матриця інцидентності?</h3>
<p>
    Матрица инцидентности имеет вид представления графа в виде матрицы, в которой каждый столбец задаёт отдельную дугу. Строки матрицы при этом задают вершины. Положительное число в столбце задаёт вершину, из которой выходит дуга, а отрицательное - в которую входит. Если оба числа положительные, то дуга неориентированная.
</p>
<p>
    Даний сервіс надає вам можливість створити граф по матриці інцидентності.
</p>
<img src="~/Content/Images/IncMatrix.jpg">
