
@{
    ViewBag.Title = "Додавання вершин";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2>Додавання вершин</h2>
<p>Щоб додати вершини необхідно вибрати меню "Додати" і клікнути на робочу область, де Ви хочете розмістити вершину.</p>
<img src="~/Content/Images/AddNodes.jpg" height="350">
<p>Також якщо Ви додасте нові вершини в матрицю суміжності або інцидентності, то вони теж з'являться в робочій області.</p>

<h2>Видалення вершини</h2>
Для видалення вершини вам необхідно натиснути кнопку "Видалити" і клікнути по вершин.