
@{
    ViewBag.Title = "AdjacencyMatrixWiki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Що таке матриця інцидентності?</h3>
<p>
    Матрица инцидентности имеет вид представления графа в виде матрицы, в которой каждый столбец задаёт отдельную дугу. Строки матрицы при этом задают вершины. Положительное число в столбце задаёт вершину, из которой выходит дуга, а отрицательное - в которую входит. Если оба числа положительные, то дуга неориентированная.
</p>

