
@{
    ViewBag.Title = "Вибір алгоритму";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2>Вибір алгоритму</h2>
Для вибору алгоритму для обробки графа.
<img src="~/Content/Images/Methods.jpg" height="350">

<p>

</p>