
@{
    ViewBag.Title = "SaveGraph";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h2>Збереження графа</h2>

<img src="~/Content/Images/Menu.jpg">
<br>
<img src="~/Content/Images/SaveFile.jpg">

