
@{
    ViewBag.Title = "Граф";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br>
<h3>Опис функцій меню "Граф"</h3>
<br>
<img src="~/Content/Images/Menu.jpg" height="300">
<br>
<ul>
    <li>
        <strong>Створити орієнтований незважений граф</strong> Налаштовує робочу область для роботі з орієнтованим незваженим графом.
    </li>
    <li>
        <strong>Створити неорієнтований незважений граф</strong> Налаштовує робочу область для роботі з неорієнтованим незваженим графом.
    </li>
    <li>
        <strong>Створити орієнтований зважений граф</strong> Налаштовує робочу область для роботі з орієнтованим зважений графом.
    </li>
    <li>
        <strong>Створити неорієнтований зважений граф</strong> Налаштовує робочу область для роботі з неорієнтованим незвзваженийаженим графом.
    </li>
    <li>
        <strong>Відкрити</strong> Відкриває файл з розширенням .txt у якому міститься матриця сміжності.
    </li>
    <li>
        <strong>Зберегти</strong> Відкріває вікно для збереження поточний графу.
        <br>
        <img src="~/Content/Images/SaveFile.jpg" height="130">
    </li>
    <li>
        <strong>Матриця суміжності</strong> Відкріває вікно з поточною матриця суміжності. Також ви можете редагувати існуючу матрицю.
        <br>
        <img src="~/Content/Images/AdjMatrixWindow.jpg" height="250">
    </li>
    <li>
        <strong>Матриця інцидентності</strong> Відкріває вікно з поточною матриця інцидентності. Також ви можете редагувати існуючу матрицю.
        <br>
        <img src="~/Content/Images/IncMatrixWindow.jpg" height="250">
    </li>
    <li>
        <strong>Видалити</strong> Видаляє граф з робочої області.
    </li>
</ul>
<br>

<p>

</p>

