@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/Scripts")
<link rel="stylesheet" href="~/Content/Home.css">

<p>

</p>

<section>
    <ul class="nav nav-pills">
        <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle margin-right" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Graph
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Create</a>
                <a class="dropdown-item" href="#">Open </a>
                <a class="dropdown-item" href="#">Save </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Adjacency Matrix </a>
                <a class="dropdown-item" href="#">Incidence Matrix </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Delete </a>
            </div>
        </li>

        <li type="button" class="btn btn-primary margin-right">Add</li>
        <li type="button" class="btn btn-primary margin-right">Connect</li>

        <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle margin-right" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Algorithm
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Create</a>
                <a class="dropdown-item" href="#">Open </a>
                <a class="dropdown-item" href="#">Save </a>
                <a class="dropdown-item" href="#">Delete </a>
            </div>
        </li>

        <li type="button" class="btn btn-primary margin-right" id="deleteBtn" onclick="remove()">Delete</li>

    </ul>
</section>
<p>

</p>

<section>
    <div id="message" class="alert alert-success">
        Text
    </div>
</section>

<div id="cy"></div>

<script src="~/Scripts/CustomScripts/Index.js"></script>

<script>
    function findDimensions() {
        var height = window.innerHeight; document.body.clientHeight;
        var el = document.getElementById("cy");

        el.style.height = height - 250 + "px";
    }

    if (window.addEventListener)
        window.addEventListener("load", findDimensions, false);
    else if (window.attachEvent)
        window.attachEvent("onload", findDimensions);
    window.onresize = findDimensions;

    function remove()
    {
        var el = document.getElementById("deleteBtn");

        if (el.className === "btn btn-primary margin-right") {

            el.className = "btn btn-secondary margin-right";

            cy.on('tap', function (evt) {
                var node = evt.target;

                cy.remove(node);
                console.log('tapped ' + node.id());
            });
        }
        else {
            el.className = "btn btn-primary margin-right";
            cy.removeListener('tap');
        }
    }
</script>

<p>

</p>