@model GraphAlgorithm.Models.IndexViewModel

@{
    ViewBag.Title = "Головна сторінка";
}

@Scripts.Render("~/bundles/Scripts")

<link rel="stylesheet" href="~/Content/Home.css">
<br>
<section>
    <ul class="nav nav-pills">
        <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle margin-right" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Граф
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" onclick="createOrientedUnweightedGraph()">Створити орієнтований незважений граф</button>
                <button class="dropdown-item" onclick="createDisorientedUnweightedGraph()">Створити неорієнтований незважений граф</button>
                <button class="dropdown-item" onclick="createOrientedWeightedGraph()">Створити орієнтований зважений граф</button>
                <button class="dropdown-item" onclick="createDisorientedWeightedGraph()">Створити неорієнтований зважений граф</button>
                <div class="dropdown-divider"></div>
                <button id="tmpLi" class="dropdown-item">
                    <label for="openFileBtn" style="width:inherit" accept=".txt">Відкрити</label>
                    <input id="openFileBtn" onclick="this.value=null;" style="display:none;" type="file">
                </button>
                <button class="dropdown-item" data-toggle="modal" data-target="#saveDialog" style="width:inherit">Зберегти</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" onclick="showAdjacency()" style="width:inherit">Матриця суміжності</button>
                <button class="dropdown-item" onclick="showIncidence()" style="width:inherit">Матриця інцидентності</button>
                <div class="dropdown-divider"></div>
                <button class="dropdown-item" onclick="removeElement()" style="width:inherit">Видалити</button>
            </div>
        </li>
        <li type="button" class="btn btn-secondary margin-right" id="defaultBtn">За замовчуванням</li>
        <li type="button" class="btn btn-primary margin-right" id="addBtn">Додати</li>

        <li type="button" class="btn btn-primary margin-right" id="connectBtn">З'єднати</li>

        <li class="dropdown">
            <button class="btn btn-primary dropdown-toggle margin-right" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Алгоритми
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <button id="kruskalAlgorithmId" class="dropdown-item">Алгоритм Крускала</button>
                <button id="primAlgorithmId" class="dropdown-item">Алгоритм Прима</button>
                <div class="dropdown-divider"></div>
                <button id="hamiltonianCycleAlgorithmId" class="dropdown-item">Пошук Гамільтонового циклу</button>
                <button id="dijkstraAlgorithmId" class="dropdown-item">Алгоритм Дейкстри</button>
                <button id="floydWarshallFirstAlgorithmId" class="dropdown-item">Алгоритм Флойда — Воршелла (I)</button>
                <button id="floydWarshallSecondAlgorithmId" class="dropdown-item">Алгоритм Флойда — Воршелла (II)</button>
                <button id="maxMatchesAlgorithmId" class="dropdown-item">MaxMatches</button>
                <div class="dropdown-divider"></div>
                <button id="wideSearchTreeAlgorithmId" class="dropdown-item">Пошук у ширину</button>
                <button id="deepSearchTreeAlgorithmId" class="dropdown-item">Пошук у глибину</button>
            </div>
        </li>

        <li type="button" class="btn btn-primary margin-right" id="deleteBtn">Видалити</li>

    </ul>
</section>
<p>

</p>

<section>
    <div id="message" class="alert alert-success text-center" role="alert" style="height:auto;overflow:auto">
        Виділіть і переміщуйте об'єкти.
    </div>
</section>

<div id="cy" class="form-control"></div>

<script>
    function findDimensions() {
        var height = window.innerHeight; document.body.clientHeight;
        var el = document.getElementById("cy");

        el.style.height = height - 250 + "px";
    }

    if (window.addEventListener)
        window.addEventListener("load", findDimensions, false);
    else if (window.attachEvent)
        window.attachEvent("onload", findDimensions);
    window.onresize = findDimensions;

    document.getElementById("openFileBtn").addEventListener("change", function () {
        var file = this.files[0];
        var result = '';
        if (file) {
            var reader = new FileReader();

            reader.onload = function (evt) {
                result = evt.target.result;

                var matrix = parseTextInput(result, ',');
                loadNewGraph(matrix, true)
            };

            reader.onerror = function (evt) {
                console.error("An error ocurred reading the file", evt);
            };

            reader.readAsText(file, "UTF-8");
        }
    }, false);
</script>


<script src="~/Scripts/CustomScripts/Index.js"></script>

<script>
    var strMatrix = @Html.Raw(Json.Encode(Model.Matrix));
    var type = @Html.Raw(Json.Encode(Model.TypeOfMatrix));
    var separator = @Html.Raw(Json.Encode(Model.Separator));

    if (strMatrix != '' && separator != null) {
        var matrix = parseTextInput(strMatrix, separator);
        if (type == "adjacency")
            loadNewGraph(matrix, true);
        else
            loadNewGraph(matrix, false);
    }    
</script>
<p>

</p>

<div class="modal fade" id="connectDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Створити ребро</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <input id="firstSelected" list="browsers">
                <b> -> </b>
                <input id="secondSelected" list="browsers">

                <datalist id="browsers">
                </datalist>
            </div>
            <div class="modal-body text-center">
                Вага: <input id="valueOfEdge" value="0">
            </div>
            <div class="modal-footer text-md-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="addEdges()">Створити</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="saveDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Створити файл</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                Ім'я:  <input type="text" id="fileName">
                <button type="button" class="btn btn-primary" onclick="download()" data-dismiss="modal">Створити</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showAdjacencyMatrix" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Матриця суміжності</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Задайте матрицю суміжності. Використовуйте кому "," в якості розділового знаку</p>
                <textarea id="textAdjacencyMatrix" class="form-control" style="min-width: 100%; min-height:200px"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" onclick="adjacencySaveChanges()" class="btn btn-primary" data-dismiss="modal">Зберегти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="showIncidenceMatrix" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Матриця інцидентності</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Задайте матрицю інцидентності. Використовуйте кому "," в якості розділового знаку</p>
                <textarea id="textIncidenceMatrix" class="form-control" style="min-width: 100%; min-height:200px"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                <button type="button" onclick="incidenceSaveChanges()" class="btn btn-primary" data-dismiss="modal">Зберегти</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="dialogModalShowMatrix" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Матриця</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрити">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="textMatrix" class="form-control" style="min-width: 100%; min-height:200px"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>